# Run this commane:
# sudo nano /etc/systemd/system/archon-hid.service
# then past the below into nano:
[Unit]
Description=Archon HID Gadget Service (Keyboard/Mouse)
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/hid-setup.sh

[Install]
WantedBy=multi-user.target